<% 
var channels = locals.channels
var owned = ("owned" in  channels) ? channels.owned : false
var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
%>
            <div id="owned-channels" class="user-channels">
                <% if (owned) { %>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h4>Your Channels <i class="fas fas fa-user float-right"></i></h4>
                        </li>
                    <% owned.forEach(function(channel) { %>
                        <li class="list-group-item channel-list-item d-flex justify-content-between align-items-center">
                            <div class="avatar-window">
                                <img src="<%= channel.image %>" alt="<%= channel.name %>">
                            </div>
                            <a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
                            <a href="/channels/edit/<%= channel.id %>/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <span class="badge badge-primary badge-pill" data-placement="top" title="<%= channel.users.length %> users..."><%= channel.users.length %></span>
                        </li>
                    <% }) %>
                    </ul>
                <% } else { %>
                    <p><div class="alert alert-primary" role="alert"> WHAAAAAT??? You have no channels, let's live a little, make a channel!</div></p>
                <% }  %>
            </div>
            <p>&nbsp;</p>
            <div id="subscribed-channels" class="user-channels">
                <% if (subscribed) { %>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h4>Subscribed Channels <i class="fas fas fa-user float-right"></i></h4>
                        </li>
                    <% subscribed.forEach(function(channel) { %>
                        <li class="list-group-item channel-list-item d-flex justify-content-between align-items-center">
                            <div class="avatar-window">
                                <img src="<%= channel.image %>" alt="<%= channel.name %>">
                            </div>
                            <a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
                            <a href="#/"><i class="fas fa-sign-out-alt"></i></a>
                            <span class="badge badge-primary badge-pill" data-placement="top" title="<%= channel.users.length %> users..."><%= channel.users.length %></span>
                        </li>
                    <% }) %>
                    </ul>
                <% } else { %>
                    <p><div class="alert alert-primary" role="alert">Make some friends on here and join their channels!</div></p>
                <% }  %>
            </div>
            <p>&nbsp;</p>