<%  var channels = ("channels" in  locals) ? locals.channels : false %>

<div id="all-channels" class="user-channels">
    <% if (channels) { %>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h4>All Channels <i class="fas fas fa-user float-right"></i></h4>
            </li>
        <% channels.forEach(function(channel) { %>
            <li class="list-group-item channel-list-item d-flex justify-content-between align-items-center">
                <div class="avatar-window">
                    <img src="<%= channel.image %>" alt="<%= channel.name %>">
                </div>
                <a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
                <span class="badge badge-primary badge-pill" data-placement="top" title="<%= channel.users.length %> users..."><%= channel.users.length %></span>
            </li>
        <% }) %>
        </ul>
    <% }  %>
</div>
