<%- include('partials/header'); %> 
<% 
var channelUsers = locals.channelUsers
var otherUsers = locals.otherUsers
var channelToEdit = locals.channelToEdit
var editChannelErrors = ("editChannelErrors" in  locals.errors) ? locals.errors.editChannelErrors : false 
%>
			<div id="main">
				<div class="container-fluid">
					<div class="row">
						<div id="sidebar" class="col-md-4 col-sm-6">
						</div>  
						<main role="main" class="col-md-8 col-sm-6">
							<h2>Edit Channel</h2>
							<hr>
							<% if (editChannelErrors) { %>
								<% editChannelErrors.forEach(function(error) { %>
									<p><div class="alert alert-primary" role="alert"><%= error %></div></p>
								<% }) %>
							<% } %>
							<form id="channel-create-form" action="/channels/update/<%= channelToEdit.id %>" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label class="control-label">Display Name</label>
									<input id="update-display-name" type="text" class="form-control" name="name" placeholder="Display Name" value="<%= channelToEdit.name %>">
								</div>
								<div class="form-group">
									<label class="check-input-group" for="public">
										<input class="check-input" type="checkbox" id="public" name="public" value="public">
										<span class="checkbox-slider"></span>
									</label>
									<span class="align-label-middle">Public Channel</span>
								</div>
								<% if (channelToEdit.image) { %>
								<div id="avatar" class="col-md-3 col-6 p-0">
									<div class="avatar-window">
										<img src="<%= channelToEdit.image %>" alt="Your Profile Image">
										<input type="hidden" name="current-avatar" value="<%= channelToEdit.image %>">
									</div>
								</div>
								<% } %>
								<div class="form-group no-submit">
									<label class="control-label">Add an Image</label>
									<div class="input-group-append">
									  <div class="custom-file">
										<input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
										<label class="custom-file-label" for="avatar-upload">Choose file</label>
									  </div>
									</div>
								</div>
								<div id="channel-users">
									<div class="form-group">
										<h4>Add Users</h4>
										<div id="user-window">
											<div id="user-window-channel">
												<% if (channelUsers) { %>
													<% channelUsers.forEach(function(user) { %>
														<div class="user-check">
															<label class="user-check-input-group" for="user<%= user.id %>">
																<input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>" checked="checked">
																<div class="avatar-window">
																	<img src="<%= user.image %>" alt="<%= user.name %>">
																</div>
																<span class="user-checkbox-hover"></span>
															</label>
															<p><%= user.name %></p>
														</div>
													<% }) %>
												<% } %>
												<% if (otherUsers) { %>
													<% otherUsers.forEach(function(user) { %>
														<div class="user-check">
															<label class="user-check-input-group" for="user<%= user.id %>">
																<input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
																<div class="avatar-window">
																	<img src="<%= user.image %>" alt="<%= user.name %>">
																</div>
																<span class="user-checkbox-hover"></span>
															</label>
															<p><%= user.name %></p>
														</div>
													<% }) %>
												<% } %>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group submit">
									<button id="update" type="submit" class="btn btn-primary">Update</button>
								</div>
							</form>
						</main>
					</div>
				</div>
			</div>
<%- include('partials/footer'); %>