<%- include('partials/header'); %> 
<% 
var users = locals.users
var addChannelErrors = ("addChannel" in  locals.errors) ? locals.errors.addChannel : false
var deleteChannelErrors = ("deleteChannel" in  locals.errors) ? locals.errors.deleteChannel : false 
%>
			<div id="main">
				<div class="container-fluid">
					<div class="row">
						<div id="sidebar" class="col-md-4 col-sm-6">
							<%- include('partials/channel-sidebar'); %> 
						</div>  
						<main role="main" class="col-md-8 col-sm-6">
							<h2>Add A New Channel</h2>
							<hr>
							<% if (addChannelErrors) { %>
								<% addChannelErrors.forEach(function(error) { %>
									<p><div class="alert alert-primary" role="alert"><%= error %></div></p>
								<% }) %>
							<% } %>
							<form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label class="control-label">Display Name</label>
									<input id="update-display-name" type="text" class="form-control" name="name" placeholder="Display Name" value="">
								</div>
								<div class="form-group">
									<label class="check-input-group" for="public">
										<input class="check-input" type="checkbox" id="public" name="public" value="public">
										<span class="checkbox-slider"></span>
									</label>
									<span class="align-label-middle">Public Channel</span>
								</div>
								<div class="form-group no-submit">
									<label class="control-label">Add an Image</label>
									<div class="input-group-append">
									  <div class="custom-file">
										<input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
										<label class="custom-file-label" for="avatar-upload">Choose file</label>
									  </div>
									</div>
								</div>
								<div id="channel-users">
									<div class="form-group">
										<h4>Add Users</h4>
										<div id="user-window">
											<div id="user-window-channel">
												<% if (users) { %>
													<% users.forEach(function(user) { %>
														<div class="user-check">
															<label class="user-check-input-group" for="user<%= user.id %>">
																<input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
																<div class="avatar-window">
																	<img src="<%= user.image %>" alt="<%= user.name %>">
																</div>
																<span class="user-checkbox-hover"></span>
															</label>
															<p><%= user.name %></p>
														</div>
													<% }) %>
												<% } else { %>
													<p><div class="alert alert-primary" role="alert">There are no people in here yet!</div></p>
												<% }  %>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group submit">
									<button id="update" type="submit" class="btn btn-primary">Create</button>
								</div>
							</form>
						</main>
					</div>
				</div>
			</div>
<%- include('partials/footer'); %>